<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Two
    </ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content>
    <div class="carousel-wrapper">
      <ion-slides>
        <ion-slide>
          <img src="https://cdn.shopify.com/s/files/1/0289/9718/9666/products/fanta-berry-can-12oz-355ml-800x800.png?v=1594729103">
      
        </ion-slide>
        <ion-slide>
          <img src="https://cdn.shopify.com/s/files/1/0289/9718/9666/products/fanta-berry-can-12oz-355ml-800x800.png?v=1594729103">
   
        </ion-slide>
        <ion-slide>
          <img src="https://cdn.shopify.com/s/files/1/0289/9718/9666/products/fanta-berry-can-12oz-355ml-800x800.png?v=1594729103">
         
        </ion-slide>
      </ion-slides>
    </div>
    <ion-content>
      <ul class="item-list">
        <li>Item 1</li>
        <li>Item 2</li>
        <li>Item 3</li>
        <li>Item 4</li>
        <li>Item 5</li>
      </ul>
      
    </ion-content>
  </ion-content>
  


